<div class="feedback">
  <div class="container">
    <form action="">
      <div class="feedback__form flex">
        <div class="feedback__title">
          Закажите клубную <br>
          карту уже сейчас
        </div>
        <div class="feedback__group">
          <input type="text" class="form-control" placeholder="Ваше имя">
        </div>
        <div class="feedback__group">
          <input type="text" class="form-control" placeholder="Телефон">
        </div>
        <div class="feedback__group">
          <button type="submit" class="btn btn--submit">Заказать</button>
          <div class="privacy_policy_info">
            Нажимая кнопку «Отправить заявку», вы соглашаетесь с <a href="#">условиями обработки персональных данных</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>