<footer class="footer">
	<nav class="footer-nav hidden-xs">
		<div class="container">
			<ul class="footer-nav__menu flex">
				<li><a href="#">О клубе</a></li>
				<li><a href="#">Услуги</a></li>
				<li class="current"><a href="#">Фотографии</a></li>
				<li><a href="#">Тренеры</a></li>
				<li><a href="#">Расписание</a></li>
				<li><a href="#">Карты и цены</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Блог</a></li>
				<li><a href="#">Отзывы</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</nav>
	<div class="bottom-panel">
		<div class="container">
			<div class="bottom-panel__content flex">
				<div class="copyright">
					© 2007-2017 «Премьер-Спорт»
				</div>
				<div class="bottom-panel__contacts hidden-md">
					<div class="bottom-panel__contacts__title">
						<a href="#" class="link middle">Банный комплекс</a>
						<span class="delimiter middle"></span>
						<a href="#" class="link middle">SPA</a>
					</div>
					<div class="bottom-panel__contacts__phone">
						+7 495 933-52-66
					</div>
				</div>
				<div class="bottom-panel__contacts hidden-md">
					<div class="bottom-panel__contacts__title">Администрация клуба</div>
					<div class="bottom-panel__contacts__phone">+7 495 933-52-65</div>
				</div>
				<div class="bottom-panel__link">
					<a href="#">
						<img src="img/appStore.png" alt="">
					</a>
				</div>
				<div class="bottom-panel__link">
					<a href="#">
						<img src="img/googlePlay.png" alt="">
					</a>
				</div>
				<div class="bottom-panel__social">
					<a href="#" class="middle">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#" class="middle">
						<i class="fa fa-vk" aria-hidden="true"></i>
					</a>
					<a href="#" class="middle">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				</div>
				<div class="develop">
					Разработано в <a href="#" class="link">Redbee</a>
				</div>
			</div>
		</div>
	</div>
</footer>