<div class="top-panel">
	<div class="container">
		<div class="top-panel__wrapp flex">
			<div class="logo">
				<img src="img/logo.png" alt="">
			</div>
			<div class="phone">
				<div class="phone__number">+7 495 933-52-65</div>
				<a href="#" class="get-call">Заказать звонок</a>
			</div>
			<div class="top-panel__contacts top-panel__contacts--left">
				<div class="table-cell top-panel__contacts__icon">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="table-cell top-panel__contacts__text">
					г. Москва, ул. Улофа <br>
					Пальме, 5, стр. 1, 2 
				</div>
			</div>
			<div class="top-panel__contacts top-panel__contacts--right">
				<div class="table-cell top-panel__contacts__icon">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
				</div>
				<div class="table-cell top-panel__contacts__text">
					<div><span>Пн-Пт:</span> 07:00 - 00:00</div>
					<div><span>Сб, Вс:</span> 09:00 - 23:00</div>
				</div>
			</div>
			<div class="top-panel__info hidden-md">
				<div>
					<a href="#" class="link middle">Банный комплекс</a>
					<span class="delimiter middle"></span>
					<a href="#" class="link middle">SPA</a>
				</div>
				<div class="top-panel__phone">+7 495 933-52-66</div>
			</div>
		</div>
	</div>
</div>
<nav class="nav">
	<div class="container">
		<div class="navbar-toggle visible-sm">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</div>
		<ul class="nav__menu flex">
			<li><a href="#">О клубе</a></li>
			<li><a href="#">Услуги</a></li>
			<li class="current"><a href="#">Фотографии</a></li>
			<li><a href="#">Тренеры</a></li>
			<li><a href="#">Расписание</a></li>
			<li><a href="#">Карты и цены</a></li>
			<li><a href="#">Акции</a></li>
			<li><a href="#">Блог</a></li>
			<li><a href="#">Отзывы</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</div>
</nav>