<div class="services about__carousel photo-carousel">
  <div class="container">
    <h2 class="subtitle">Фотогалерея</h2>
    <div class="owl-carousel owl-theme" id="about-carousel">
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);">
        </div>
      </div>
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);">
        </div>
      </div>
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);">
        </div>
      </div>
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);">
        </div>
      </div>
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);"></div>
      </div>
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);">
        </div>
      </div>
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);">
        </div>
      </div>
      <div class="item">
        <div class="about__item" style="background-image: url(http://via.placeholder.com/370x270);">
        </div>
      </div>
    </div>
  </div>
</div>