<div class="text-block">
  <h2 class="subtitle">Здесь будет сео текст</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus repudiandae voluptate quam ad architecto reprehenderit voluptatibus harum ipsum enim, adipisci exercitationem cum minima officiis dolor facere cumque magni eos ducimus vel temporibus, autem ut tenetur, magnam. Quidem earum doloribus recusandae distinctio aut sed qui, natus, dolor, rem quas adipisci nesciunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus repudiandae voluptate quam ad architecto reprehenderit voluptatibus harum ipsum enim, adipisci exercitationem cum minima officiis dolor facere cumque magni eos ducimus vel temporibus, autem ut tenetur, magnam. Quidem earum doloribus recusandae distinctio aut sed qui, natus, dolor, rem quas adipisci nesciunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus repudiandae voluptate quam ad architecto reprehenderit voluptatibus harum ipsum enim, adipisci exercitationem cum minima officiis dolor facere cumque magni eos ducimus vel temporibus, autem ut tenetur, magnam. Quidem earum doloribus recusandae distinctio aut sed qui, natus, dolor, rem quas adipisci nesciunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus repudiandae voluptate quam ad architecto reprehenderit voluptatibus harum ipsum enim, adipisci exercitationem cum minima officiis dolor facere cumque magni eos ducimus vel temporibus, autem ut tenetur, magnam. Quidem earum doloribus recusandae distinctio aut sed qui, natus, dolor, rem quas adipisci nesciunt.
  </p>
</div>