@import "partials/reset";
@import "partials/grid";
@import "partials/fonts";
@import "partials/carousel";
@import "partials/modal";
@import "partials/fancybox";
@import "partials/typography";
@import "partials/datepicker";
@import "partials/variable";

body{
	font-size: 14px;
	font-family: $regular;
	line-height: 1.2;
	color: #666;
}
b,
strong{
	font-family: $bold;
}
i{
	font-family: $italic;
}
.middle{
	display: inline-block;
	vertical-align: middle;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}
.flex{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
img{
	max-width: 100%;
	height: auto;
}
.block-grey{
	background: #fafafa;
	padding: 25px 0;
}
.top-panel{
	padding: 25px 0;
	font-size: 13px;

	&__contacts{
		font-size: 15px;
		line-height: 1.5;

		&__icon{
			width: 25px;
			color: $red;
			font-size: 20px;
		}
		span{
			color: #999999;
		}
	}
	&__info{

	}
	&__phone{
		margin-top: 5px;
		font-size: 18px;
	}
}
.link{
	color: $red;

	&:hover{
		text-decoration: underline;
	}
}
.phone{
	&__number{
		font-family: $bold;
		font-size: 18px;
		margin-bottom: 5px;
	}
}
.delimiter{
	width: 1px;
	height: 10px;
	background: #c4c4c4;
	margin: 0 5px;
}
.get-call{
	border: 1px solid $red;
	color: $red;
	display: block;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 13px;

	&:hover{
		background: $red;
		color: #fff;
	}
}
.nav{
	box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.1);
	font-size: 15px;
	font-family: $bold;
	margin-top: 10px;

	&__menu{
		margin-bottom: 0;

		li{
			position: relative;

			&.current,
			&:hover{
				a{
					color: $red;
				}
			}
		}

		a{
			display: block;
			padding: 20px 0;
			color: #666;
		}
	}
}
.main-slider{
	font-size: 15px;
	margin: 60px 0;

	&__text{
		height: 410px;
	}

	h2{
		font-size: 35px;
		color: #000;
		margin-bottom: 30px;
		font-family: $abold;
	}
	p{
		margin-bottom: 40px;
	}
	&__img{
		text-align: center;
		height: 410px;
	}
	.owl-dots{
		position: absolute;
		z-index: 2;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
	.owl-dot{
		display: block;
		margin: 5px 0;
	}
}
.btn{
	display: inline-block;
	vertical-align: middle;
	border: 0;
	border: 2px solid $red;
	color: $red;
	font-size: 17px;
	padding: 15px 20px;
	text-transform: uppercase;
	font-family: $asemibold;
	outline: 0;
	cursor: pointer;

	&:hover{
		background: $red;
		color: #fff;
	}

	&--submit{
		background: $red;
		color: #fff;
		width: 100%;
		height: 60px;
		font-size: 20px;
		display: block;
		box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);

		&:hover{
			background: darken($red, 10%);
		}
	}
	&-white{
		border-color: #fff;
		color: #fff;

		&:hover{
			background: #fff;
			color: #000;
		}
	}
	&-full{
		display: block;
		width: 100%;
		text-align: center;
	}

}
.services{
	margin-bottom: 55px;
	
	.item{
		padding: 5px 2px;
	}
	&__item{
		height: 250px;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
		box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
		position: relative;
	}
	&__label{
		position: absolute;
		z-index: 2;
		right: 25px;
		top: 30px;
	}
	&__descr{
		position: absolute;
		z-index: 2;
		color: #fff;
		width: 100%;
		text-align: right;
		bottom: 0;
		left: 0;
		padding: 25px;
	}
	&__name{
		text-transform: uppercase;
		font-size: 22px;
		font-family: $asemibold;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}
	&__text{
		font-size: 13px;
	}
	.owl-dots{
		margin-top: 30px;
		text-align: center;
	}
}
.feedback{
	padding: 30px 0;
	background: #fafafa;

	&__title{
		font-size: 28px;
		font-family: $aregular;
		color: #000;
		line-height: 1;

		&-regular{
			font-family: $aregular;
		}
	}
	&__group{
		width: 22%;
	}
}
.form-control{
	display: block;
	width: 100%;
	height: 60px;
	background: #fff;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #cdcdcd;
	outline: 0;
	font-size: 15px;
	font-family: $regular;

	&--middle{
		height: 45px;
	}
	&--about{
		height: 90px;
	}
	&--review{
		height: 354px;
	}
}
.product{
	margin: 60px 0;

	&__text{
		position: absolute;
		z-index: 2;
		left: 0;
		width: 100%;
		font-size: 15px;
		line-height: 1.5;

		&__content{
			height: 500px;
			width: 485px;
		}
		h2{
			color: #000;
			font-family: $aregular;
			margin-bottom: 35px;
		}
		.btn{
			margin-top: 20px;
		}
	}
	&__img{
		height: 500px;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
	}
}
.item-title{
	font-size: 30px;
	font-family: $aregular;
	color: #000;
}
.feedback-online{
	background: #fafafa;
	padding: 60px 0;
	margin-bottom: 60px;

	&__label{
		padding-top: 14px;
	}
	&__header{
		text-align: right;
		margin-bottom: 30px;
	}
	&__form{
		padding-top: 60px;
	}
}
.form-group{
	margin-bottom: 15px;

	&:last-child{
		margin-bottom: 0;
	}

	&--submit{
		padding-top: 10px;
	}
}
.social{
	margin-bottom: 70px;

	&__content{
		margin-left: -30px;
	}
	&__item{
		padding-left: 30px;
	}
}
.review{
	margin-bottom: 90px;

	&__content{
		padding-left: 55px;
		padding-top: 20px;

		.item-title{
			margin-bottom: 40px;
		}
	}
	&__header{
		margin-bottom: 40px;

		&-inner{
			margin-bottom: 25px;
		}
	}
	&__icon{
		width: 50px;
		height: 50px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
		border-radius: 50%;
	}
	&__info{
		padding-left: 15px;
	}
	&__name{
		font-size: 20px;
		font-family: $abold;
		margin-bottom: 5px;
		color: #333;
	}
	&__pos{
		font-size: 13px;
		color: #999999;
	}
	&__text{
		font-size: 15px;
		line-height: 1.5;
		height: 280px;

		&-inner{
			height: auto;
		}
	}
	&__carousel{
		.owl-dots{
			text-align: center;
		}
	}
	&__item{
		margin-bottom: 60px;
	}
}
.carousel-btn{
	text-transform: uppercase;
	font-size: 15px;
	font-family: $abold;
	color: #999;
	position: absolute;
	z-index: 2;
	bottom: 0;

	&:hover{
		color: $red;
	}
	&--prev{
		left: 0;

		.fa{
			margin-right: 5px;
		}
	}
	&--next{
		right: 0;

		.fa{
			margin-left: 5px;
		}
	}
}
.footer-nav{
	font-size: 15px;
	border-top: 1px solid #fafafa;
	padding: 30px 0;

	&__menu{
		margin-bottom: 0;
		li{
			&:hover,
			&.active{
				a{
					color: $red;
				}
			}
		}
		a{
			color: #666666;
		}
	}
}
.bottom-panel{
	padding: 40px 0;
	font-size: 13px;
	color: #999;
	background: #fafafa;

	&__contacts{
		&__phone{
			font-size: 18px;
			color: #666666;
		}
	}
	&__social{
		padding-top: 5px;

		&--text{
			padding-top: 0;
		}

		a{
			color: $red;
			margin: 0 5px;
			font-size: 16px;
		}
	}
}
.develop{
	padding-top: 7px;
}
.copyright{
	color: #999999;
	font-size: 13px;
	padding-top: 10px;
}
.navbar-toggle{
	width: 35px;
	cursor: pointer;
	float: right;
}
.icon-bar{
	display: block;
	width: 100%;
	height: 4px;
	background: $red;

	+ .icon-bar{
		margin-top: 5px;
	}
}
.content{
	padding: 25px 0;
}
.breadcrumb{
	font-size: 13px;
	color: #666666;

	&__delimiter{
		margin: 0 7px;
	}

	> li{
		display: inline-block;
		vertical-align: middle;
	}
	a{
		color: $red;
	}
}
.page-title{
	font-size: 35px;
	color: #2a2323;
	font-family: $abold;
	margin-bottom: 25px;
}
.photo{
	margin-left: -30px;
	margin-bottom: 70px;

	&-news{
		margin-bottom: 0 !important;
	}

	&__inner{
		margin-left: -30px;
	}
	&__date{
		font-size: 13px;
		color: #cccccc;
		font-family: $regular;
	}

	&__block{
		padding-left: 30px;
		padding-bottom: 30px;

		&-inner{
			padding-bottom: 0;
		}
	}
	&__item{
		height: 380px;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
		position: relative;
		box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);

		&-small{
			height: 175px;
		}
		&--blog{
			height: 300px;
		}

		&:before{
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
			background: rgba(0,0,0,0.3);
		}
	}
	&__descr{
		color: #fff;
		position: absolute;
		z-index: 3;
		left: 0;
		bottom: 0;
		padding: 30px;
		width: 100%;
		text-transform: uppercase;
		font-size: 25px;
		font-family: $abold;
	}
	&__category{
		position: absolute;
		display: inline-block;
		padding: 10px 15px;
		color: #fff;
		background: rgba(0,0,0,0.7);
		z-index: 2;
		left: 15px;
		bottom: 15px;
	}
}
.show-more{
	text-align: center;
}
.page-header{
	margin-bottom: 40px;

	&__left{
		padding-top: 4px;
	}
}
.modal-title{
	font-family: $aregular;
	color: #333333;
	margin-bottom: 25px;
}
.label-form{
	display: block;
	font-size: 15px;
	color: #666666;
	margin-bottom: 10px;
	font-family: $regular;
}
.modal-content{
	padding: 40px 25px;
}
textarea.form-control{
	resize: none;
	padding-top: 10px;
}
.review-submit-group{
	margin-top: 30px;
}
.close-modal{
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	z-index: 2;
	right: -30px;
	top: -30px;
	border: 0;
	outline: 0;
	cursor: pointer;
	background: url(../img/close.png)no-repeat;
}
.blog-status{
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0;
	top: 0;
	padding: 20px;

	&__item{
		color: #fff;
		margin: 5px 10px;
		font-size: 13px;
	}
}
.blog-descr{
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 25px 30px;
	color: #fff;

	&__date{
		font-size: 13px;
		color: #cccccc;
	}
	&__name{
		font-size: 20px;
		font-family: $abold;
	}
}
.date-item{
	margin-bottom: 25px;
	font-size: 13px;
	color: #999999;
}
.text-page{
	font-size: 15px;
	color: #666666;
	line-height: 1.4;

	.page-title{
		line-height: 1;
	}

	p{
		margin-bottom: 25px;
	}
}
img[align="left"]{
	margin-right: 30px;
	margin-bottom: 20px;
}
.text-page-status{
	background: #fafafa;
	padding: 10px;
	margin-bottom: 30px;
	color: #999999;
	font-size: 13px;

	a{
		color: $red;
	}
}
.text-page-like{
	margin-left: 25px;
}
.about{
	&__text{
		margin-bottom: 30px;
		font-size: 15px;
		color: #666;
		line-height: 1.5;
	}
	&__item{
		height: 270px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
	}
	&__carousel{
		margin-bottom: 50px;
	}
	&-size{
		margin-bottom: 55px;
		
		&__info{
			background: #fafafa;
			padding: 25px 0;
		}
		&__title{
			font-size: 15px;
			color: #333333;
			margin-bottom: 5px;
		}
		&__text{
			font-size: 40px;
			color: $red;
			font-family: $abold;

			sup{
				font-size: 20px;
			}
		}
	}
	&-services{
		&__item{
			margin-bottom: 40px;
		}
	}
}
.subtitle{
	font-size: 30px;
	font-family: $aregular;
	margin-bottom: 25px;
	color: #333;
}
.text-block{
	font-size: 15px;
	color: #666666;
	line-height: 1.4;

	h4{
		font-size: 20px;
		font-family: $abold;
		color: #333333;
		margin-bottom: 10px;
	}
	b{
		color: #333;
	}
	table{
		margin-bottom: 15px;

		td{
			&:first-child{
				padding-right: 10px;
			}
			&:last-child{
				padding-left: 10px;
			}
		}
	}
}
.location{
	margin-top: 60px;
	padding-bottom: 50px;
}
.link-arrow{
	color: $red;
	font-size: 15px;
	font-family: $abold;
	text-transform: uppercase;
}
.fa{
	vertical-align: middle;
}
.block-header{
	.pull-right{
		padding-top: 9px;
	}
}
.contact-info{
	margin-bottom: 60px;
}
.contact-location{
	td{
		padding-bottom: 25px;
	}
}
.color-item{
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.location-table{
	td{
		&:first-child{
			text-align: right;
		}
	}
}
.contact-map{
	margin-bottom: 50px;
}
.schema{
	&__header__item{
		+ .schema__header__item{
			margin-left: 50px;
		}
	}
	&__header{
		margin-bottom: 40px;
	}
	&__name{
		font-size: 20px;
		color: #333;
		font-family: $abold;
		margin-right: 25px;
	}
	&__floor{
		padding: 10px 30px;
		font-size: 20px;
		color: $red;
		font-family: $asemibold;
		border: 2px solid #f36666;
		text-transform: uppercase;

		&:hover,
		&.active{
			background: #f36666;
			color: #fff;
		}

		+ .schema__floor{
			margin-left: -4px;
			border-left: 0;
		}
	}
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.shares{
	&__item{
		margin-bottom: 25px;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 240px;
		box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
	}
}
.page-text{
	font-size: 15px;
	line-height: 1.5;
	color: #666666;

	img[align="right"]{
		margin-left: 20px;
		margin-bottom: 10px;
	}
	img[align="left"]{
		margin-right: 20px;
		margin-bottom: 10px;
	}
	p,
	table,
	ol,
	ul{
		margin-bottom: 25px;
	}
	ul{
		li{
			position: relative;
			padding-left: 25px;

			 + li{
			 	margin-top: 10px;
			 }

			&:before{
				content: "";
				position: absolute;
				z-index: 2;
				left: 10px;
				top: 10px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: #666666;
			}
		}
	}
	h1{
		font-size: 35px;
		font-family: $abold;
		color: #2a2323;
	}
	h2{
		font-size: 30px;
		color: #2a2323;
		font-family: $aregular;
	}
	h3{
		font-size: 22px;
		color: #2a2323;
		font-family: $asemibold;
	}
	h4{
		font-size: 20px;
		font-family: $abold;
		color: #333;
	}
	h5{
		font-size: 15px;
		color: #333;
		font-family: $bold;
	}
	table{
		width: 100%;

		thead{
			font-size: 20px;
			font-family: $abold;
			color: #333;

			td{
				background: #fafafa;
			}
		}

		td{
			vertical-align: middle;
			text-align: center;
			padding: 25px 5px;
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}
	}
}
.treners{

	&-inner{
		padding-top: 55px;
	}

	&__item{
		position: relative;
		height: 240px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
		margin-bottom: 30px;

		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			background: rgba(0,0,0,0.4);
		}
	}
	&__descr{
		position: absolute;
		z-index: 2;
		color: #fff;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 30px;
	}
	&__name{
		font-size: 20px;
		font-family: $abold;
		margin-bottom: 10px;
	}
	&__status{
		font-size: 13px;
	}
}
.treners-carousel{
	text-align: center;
}
.treners-info{
	&__item{
		margin-bottom: 25px;
		position: relative;
		padding-left: 35px;

		b{
			display: block;
		}
	}
	&__icon{
		position: absolute;
		z-index: 2;
		left: 0;
		top: 2px;
	}
}
.vacancy{
	&__header{
		padding: 15px 0;
		font-size: 20px;
		font-family: $abold;
		cursor: pointer;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
		color: $red;
	}
	&__item{
		&:nth-child(2n){
			background: #fafafa;

			.vacancy__header{
				color: #333;
			}
		}
	}
	&__content{
		padding-top: 15px;
		display: none;
	}
}
.file-upload {
 position: relative; 
 overflow: hidden;  
 color: $red;
 width: 100%;
 height: 30px;
 font-family: $asemibold;
 text-align: left;
 font-weight: normal;
 font-size: 17px;
 text-transform: uppercase;

 .fa{
 	font-size: 22px;
 }
}
.file-upload input[type="file"]{
    display: none; 
}
.file-upload label {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
}
.filename {
	background: #fff;
	border: 0;
	font-size: 15px;
	color: #999999;
	padding-left: 21px;
}
.bg-item{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.aqua{
	margin-bottom: 55px;

	&__header{
		margin-bottom: 25px;
	}

	&-build{
		margin-bottom: 30px;

		&__info{
			color: #fff;
			font-size: 15px;
			font-family: $bold;
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;
			width: 100%;
			padding: 25px;

			> div{
				margin-bottom: 25px;
			}
		}
		&__item{
			height: 230px;
			position: relative;

			&:before{
				content: "";
				display: block;
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  background: rgba(0,0,0,0.4);
			}
		}
		&__name{
			position: absolute;
			z-index: 2;
			width: 100%;
			bottom: 0;
			left: 0;
			padding: 25px;
			color: #fff;
			text-transform: uppercase;
			font-size: 25px;
			font-family: $abold;
		}
	}
	&-group{
		&__item{
			height: 330px;
			transition: 0.5s;

			&:hover{
				transform: scale(1.1);
			}

			&:before{
				content: "";
				display: block;
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  background: rgba(0,0,0,0.4);
			}
		}
		&__name{
			color: #fff;
			font-size: 22px;
			font-family: $abold;
			text-transform: uppercase;
			position: absolute;
			z-index: 2;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 25px;
		}
	}
}
.treners__item--pad{
	margin-bottom: 0 !important;
}
.photo-carousel{
	padding-top: 30px;
}
.black-link{
	color: #333333;
	font-size: 15px;

	+ .black-link{
		margin-left: 25px;
	}

	&:hover{
		.black-link__text{
			text-decoration: none;
		}
	}

	&__text{
		text-decoration: underline;
	}
	img{
		vertical-align: middle;
	}
}
.calendar{
	text-align: center;
	color: #fff;
	height: 380px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;

	&__icon{
		font-size: 30px;
		margin-bottom: 25px;
	}
	&__text{
		font-size: 15px;
		margin-bottom: 25px;
	}
}
.services-group{
	ul{
		margin-top: 15px;

		li{
			+ li{
				margin-top: 5px;
			}
		}
	}

	&__img{
		position: relative;
		height: 200px;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
	}
	&__name{
		color: #fff;
		position: absolute;
		z-index: 2;
		padding: 25px;
		width: 100%;
		bottom: 0;
		text-transform: uppercase;
		font-size: 22px;
		font-family: $asemibold;
	}
	&__descr{
		padding: 25px;
		border: 2px solid #f6f6f6;
		margin-bottom: 30px;
	}
	&__list{
		margin-bottom: 30px;
	}
	&__text{
		margin-bottom: 50px;
	}
}
.seo-text{
	margin-top: 55px;
}
.feedback-event-img{
	height: 520px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}
.feedback-online-event{
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.feedback-event-form{
	width: 585px;
	padding-left: 45px;
}
.ui-datepicker-trigger{
	position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8.5px;
  z-index: 2;
  cursor: pointer;
}
.services-trener{
	padding-top: 20px;
}