@import "partials/variable";


@media(max-width: 1199px){
	.logo{
		width: 200px;
	}
	.product__text__content{
		width: 420px;
	}
	.hidden-md{
		display: none;
	}
	.schema__floor{
		padding-left: 20px;
		padding-right: 20px;
	}
	.schema__header__item + .schema__header__item{
		margin-left: 20px;
	}
}
@media(min-width: 992px){
	.visible-sm{
		display: none;
	}
	.nav__menu{
		li{
			&.current,
			&:hover{
				a{
					color: $red;

					&:before{
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						background: $red;
						position: absolute;
						z-index: 2;
						top: 0;
						left: 0;	
					}
				}
			}
		}
	}
}
@media(max-width: 991px){
	.hidden-sm{
		display: none;
	}
	.main-slider__text{
		height: auto;
	}
	.product__text__content{
		width: 325px;
	}
	.about-size__text{
		font-size: 30px;
	}
	.treners-info__item{
		margin-bottom: 0;
		margin-top: 25px;
	}
	.schema__header__item{
		display: block;
	}
	.schema__header__item + .schema__header__item{
		margin-left: 0;
		margin-top: 20px;
	}
	.review__text{
		height: auto;
	}
	.review__content{
		padding-left: 0;
	}
	.top-panel__wrapp{
		display: block;
	}
	.logo{
		float: left;
	}
	.phone{
		float: right;
	}
	.top-panel__contacts--left{
		float: left;
		clear: both;
	}
	.top-panel__contacts--right{
		float: right;
	}
	.nav__menu{
		display: none;
		clear: both;

		a{
			padding: 10px 0;
		}
	}
	.nav{
		padding: 10px 0;
	}
	.top-panel__contacts{
		margin-top: 15px;
	}
	.feedback-online__form{
		padding-top: 0;
	}
	.shares__item{
		height: auto;
	}
}
@media(min-width: 768px){
	.wrapper{
		min-height: 100%;
		padding-bottom: 196px;
	}
	.footer{
		margin-top: -196px;
	}
}
@media(max-width: 767px){
	.hidden-xs{
		display: none;
	}
	.page-text{
		img[align="right"]{
			margin-left: 0;
			float: none;
		}
		img[align="left"]{
			margin-right: 0;
			float: none;
		}
	}
	.product__text{
		position: relative;
	}
	.about-size__content{
		text-align: center;
	}
	.treners__descr{
		padding: 15px;
	}
	.schema__header__item{
		text-align: center;
	}
	.about-size__item + .about-size__item{
		margin-top: 25px;
	}
	.schema__name{
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.page-text table thead{
		font-size: 14px;
	}
	.page-text table td{
		font-size: 14px;
	}
	.schema__floor{
		font-size: 16px;
	}
	.about-size__text{
		font-size: 24px;
	}
	.xs-block{
		display: block;
	}
	.close-modal{
		right: 5px;
		top: 5px;
	}
	.photo{
		margin-bottom: 30px;
	}
	.xs-block-table{
		display: block;

		.hidden-xs{
			display: none;
		}
		tr{
			margin-bottom: 15px;
		}
		thead,
		tbody,
		tr,
		td{
			display: block;
		}
	}
	.subtitle{
		font-size: 24px;
	}
	.text-block .xs-block-table td:last-child{
		padding-left: 0;
	}
	.contact-location td{
		padding-bottom: 10px;
	}
	.contact-location tr{
		margin-bottom: 15px;
	}
	.text-page{
		img{
			float: none;
			margin: 0;
			margin-bottom: 20px;
		}
	}
	.text-page-status{
		.pull-left{
			float: none;
			width: 100%;
			margin-bottom: 20px;
		}
		.pull-right{
			float: none;
			width: 100%;
		}
	}
	.product__text__content{
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		text-align: justify;
	}
	.review__text{
		text-align: justify;
	}
	.product__text .btn{
		margin-top: 0;
	}
	.feedback__form{
		text-align: center;
		display: block;
	}
	.feedback__group{
		width: 100%;
	}
	.review{
		margin-bottom: 30px;
	}
	.feedback__title{
		font-size: 22px;

		br{
			display: none;
		}
	}
	.btn{
		font-size: 15px;
	}
	.btn--submit{
		height: 50px;
		padding-top: 0;
		padding-bottom: 0;
		font-size: 18px;
	}
	h2{
		font-size: 24px;
	}
	.main-slider h2{
		font-size: 28px;
	}
	.product__text h2{
		margin-bottom: 20px;
	}
	.form-control{
		height: 50px;
	}
	.feedback__group + .feedback__group{
		margin-top: 20px;
	}
	.feedback__title{
		margin-bottom: 20px;
	}
	.feedback-online__header{
		text-align: center;
	}
	.feedback-online__label{
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.form-group{
		.pull-right{
			float: none;
		}
	}
	.feedback-online{
		margin-bottom: 35px;
	}
	.item-title{
		font-size: 24px;
	}
	.bottom-panel__content{
		display: block;
		text-align: center;

		> div{
			+ div{
				margin-top: 20px;
			}
		}
	}
	.carousel-btn{
		display: none;
	}
	.page-title{
		font-size: 24px;
	}
}
@media(max-width: 480px){
	.photo__item{
		height: 250px;
	}
	.phone,
	.logo{
		width: 100%;
		text-align: center;
		float: none;
	}
	.top-panel__contacts{
		float: none;
		width: 100%;
		text-align: center;
	}
	.top-panel__contacts > div{
		display: inline-block;
		vertical-align: middle;
	}
	.phone{
		margin-top: 15px;
	}
	.col-12{
		width: 100%;
	}
	.aqua__header{
		text-align: center;
	}
	.black-link{
		margin: 5px !important;
	}
	.aqua-build__name{
		font-size: 20px;
	}
}