@font-face {
    font-family: 'NotoSansRegular';
    src: url('../fonts/NotoSansRegular.eot');
    src: url('../fonts/NotoSansRegular.eot') format('embedded-opentype'),
         url('../fonts/NotoSansRegular.woff2') format('woff2'),
         url('../fonts/NotoSansRegular.woff') format('woff'),
         url('../fonts/NotoSansRegular.ttf') format('truetype'),
         url('../fonts/NotoSansRegular.svg#NotoSansRegular') format('svg');
}
@font-face {
    font-family: 'NotoSansItalic';
    src: url('../fonts/NotoSansItalic.eot');
    src: url('../fonts/NotoSansItalic.eot') format('embedded-opentype'),
         url('../fonts/NotoSansItalic.woff2') format('woff2'),
         url('../fonts/NotoSansItalic.woff') format('woff'),
         url('../fonts/NotoSansItalic.ttf') format('truetype'),
         url('../fonts/NotoSansItalic.svg#NotoSansItalic') format('svg');
}
@font-face {
    font-family: 'NotoSansBold';
    src: url('../fonts/NotoSansBold.eot');
    src: url('../fonts/NotoSansBold.eot') format('embedded-opentype'),
         url('../fonts/NotoSansBold.woff2') format('woff2'),
         url('../fonts/NotoSansBold.woff') format('woff'),
         url('../fonts/NotoSansBold.ttf') format('truetype'),
         url('../fonts/NotoSansBold.svg#NotoSansBold') format('svg');
}
@font-face {
    font-family: 'NotoSansBoldItalic';
    src: url('../fonts/NotoSansBoldItalic.eot');
    src: url('../fonts/NotoSansBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/NotoSansBoldItalic.woff2') format('woff2'),
         url('../fonts/NotoSansBoldItalic.woff') format('woff'),
         url('../fonts/NotoSansBoldItalic.ttf') format('truetype'),
         url('../fonts/NotoSansBoldItalic.svg#NotoSansBoldItalic') format('svg');
}
@font-face {
    font-family: 'AkrobatBold';
    src: url('../fonts/AkrobatBold.eot');
    src: url('../fonts/AkrobatBold.eot') format('embedded-opentype'),
         url('../fonts/AkrobatBold.woff2') format('woff2'),
         url('../fonts/AkrobatBold.woff') format('woff'),
         url('../fonts/AkrobatBold.ttf') format('truetype'),
         url('../fonts/AkrobatBold.svg#AkrobatBold') format('svg');
}
@font-face {
    font-family: 'AkrobatSemiBold';
    src: url('../fonts/AkrobatSemiBold.eot');
    src: url('../fonts/AkrobatSemiBold.eot') format('embedded-opentype'),
         url('../fonts/AkrobatSemiBold.woff2') format('woff2'),
         url('../fonts/AkrobatSemiBold.woff') format('woff'),
         url('../fonts/AkrobatSemiBold.ttf') format('truetype'),
         url('../fonts/AkrobatSemiBold.svg#AkrobatSemiBold') format('svg');
}
@font-face {
    font-family: 'AkrobatRegular';
    src: url('../fonts/AkrobatRegular.eot');
    src: url('../fonts/AkrobatRegular.eot') format('embedded-opentype'),
         url('../fonts/AkrobatRegular.woff2') format('woff2'),
         url('../fonts/AkrobatRegular.woff') format('woff'),
         url('../fonts/AkrobatRegular.ttf') format('truetype'),
         url('../fonts/AkrobatRegular.svg#AkrobatRegular') format('svg');
}
