$regular: 'NotoSansRegular';
$italic: 'NotoSansItalic';
$bold: 'NotoSansBold';
$italicbold: 'NotoSansBoldItalic';
$aregular: 'AkrobatRegular';
$abold: 'AkrobatBold';
$asemibold: 'AkrobatSemiBold';

$red: #f36666;